.recipe-card{
    width: 300px;
    background-color: bisque;
    padding: 0 0 20px 0;
    border: 1px solid rgb(197, 191, 191);
    box-shadow: 0 1px 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}
.recipe-card img{
    min-height: 300px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.recipe-card h3{
    margin: 8px 0;
}
.recipe-card p{
    padding: 0 20px;
}
.button-container{
    padding: 5px 50px 0 50px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
.button-container button{
    background-color:#CA9959;
    color: white;
    border: none;
    font-size: 16px;
    width: 80px;
    height: 30px;
}