.edit-recipe-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
    height: 400px;
    justify-content: space-around;
}

.edit-recipe-form input,
.edit-recipe-form textarea {
    font-size: 1.2rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.edit-recipe-form input:focus,
.edit-recipe-form textarea:focus {
    border-color: #CA9959;
}

.edit-recipe-form button {
    background-color: #CA9959;
    color: white;
    border: none;
    font-size: 1.4rem;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.edit-recipe-form button:hover {
    background-color: #976e3f;
}

.edit-recipe-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.edit-recipe-form button:disabled:hover {
    background-color: #ccc;
}

.edit-recipe-form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
